.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
        input {
            padding: 20px;
            flex-grow: 2;
            background-color: #f200000d;
            border: none;
            border-bottom: 1px solid #ffb566;
        }
    
        .btns-wrap {
            display: flex;
            gap: 15px;     
            align-items: center;
            flex-grow: 1;
        }

        @media screen and (min-width: 600px) {
            .btns-wrap {
                flex-grow: 0;
            }
        }
    }
}